*{font-family: sans-serif}
/* #### bootstrap Form #### */
.bootstrap-frm {
    width: 700px;
    margin-right: auto;
    /*margin-left: auto;*/
    background: #FFF;
    /*padding: 20px 30px 20px 30px;*/
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #888;
    text-shadow: 1px 1px 1px #FFF;
    border:1px solid #DDD;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
.bootstrap-padded{
        padding: 20px 30px 20px 30px;

}
.bootstrap-frm h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 15px -30px;
    color: #555;
}
.bootstrap-frm h1>span {
    display: block;
    font-size: 11px;
}
.bootstrap-frm label {
    display: block;
    margin: 0px 0px 5px;
}
.bootstrap-frm b {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    }
.bootstrap-frm label>span {
    float: left;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}


.bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm textarea, .bootstrap-frm select{
    border: 1px solid #CCC;
    color: #888;
    height: 18px;
    margin-bottom: 0px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 6px 12px;
    width: 30%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    font: normal 14px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.bootstrap-frm select {
	/*content: "\2193";*/
    /*background: #FFF url('down-arrow.png') no-repeat right;*/
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 72%;
    height: 30px;
}
.bootstrap-frm textarea{
    height:100px;
}
.bootstrap-frm .button {
    height: 100%;
	width:40%;
    font-size: 14px;
	font-family: 14px, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    background: #FFF;
    border: 1px solid #CCC;
    padding: 10px 25px 10px 25px;
    color: #333;
    border-radius: 4px;
}
.bootstrap-frm .button:hover {
    color: #333;
    background-color: #EBEBEB;
    border-color: #ADADAD;
}

.bootstrap-frm .ribbon { 
    position: relative;
    padding:0px 0px 0px 0px;
    float: right;
    margin-top: 0px; 
}
.bootstrap-frm .ribbon img {
    position: absolute;
    right: 0; top: 0; }

input[type=radio] {
  display: inline;
}

